.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.tab-bar .tab-bar__tab i {
  display: flex;
}
